<a href="https://colab.research.google.com/github/lakshmihub-tech/python-practice_/blob/main/DICTIONARY_PY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#creating dictionary
#empty dictionary
d1={}
D2=dict()
print(d1)
print(D2)
print(type(d1))
print(type(D2))

{}
{}
<class 'dict'>
<class 'dict'>

In [ ]:
#dictionary with data
fruits={"apple":20,"banana":10,"grap":1}
print(fruits)
print(fruits['apple'])

{'apple': 20, 'banana': 10, 'grap': 1}
20

In [ ]:
#using dict() constructor
vamsigroup = dict(name="vamsi",age=24,course="foodengineer")
print(vamsigroup)
print(vamsigroup["age"])

{'name': 'vamsi', 'age': 24, 'course': 'foodengineer'}
24

In [ ]:
#nested dictionary
emp={"id":201,"name":"rahul","skills":{"python":"intermediate","sal":"advanced"}}
print(emp)
print(emp["skills"])
print(emp["skills"]["sal"])

{'id': 201, 'name': 'rahul', 'skills': {'python': 'intermediate', 'sal': 'advanced'}}
{'python': 'intermediate', 'sal': 'advanced'}
advanced

In [ ]:
#from list of tuples
data=[("a",1),("b",2)]
d=dict(data)
print(d)

{'a': 1, 'b': 2}

In [ ]:
#2 accessing dictionary values
#dict[key]
#dict.get(key)
car={"name":"audi","model":"ev","design":"old","year":2025}
print(car["name"])
print(car["year"])
print(car.get("age"))
print(car.get("name"))
print(car.get("speed","emo ra"))

audi
2025
None
audi
emo ra

In [ ]:
#modifing dictionaries in python
#update values
student={"name":"data science","relation":"na mogudu","id":17}
print(student["name"])
print(student.get("name"))
student["id"]="calm"
print(student)
student["relation"]= "evadu eedu"
print(student)
#update a value
student["age"]=30
student["status"]="married"
print(student)

data science
data science
{'name': 'data science', 'relation': 'na mogudu', 'id': 'calm'}
{'name': 'data science', 'relation': 'evadu eedu', 'id': 'calm'}
{'name': 'data science', 'relation': 'evadu eedu', 'id': 'calm', 'age': 30, 'status': 'married'}

In [ ]:
#removing items
#del keyword
fruits={"apple":10,"banana":5,"mango":15}
del fruits["apple"]
print(fruits)
del fruits["mango"]
print(fruits)
#pop(key)
marks={"math":100,"telugu":98,"social":"nullra"}
s=marks.pop("math")
print(s)
print(marks)
#pop(item)
marks={"math":100,"telugu":98,"social":99}
marks.popitem()
print(marks)
marks.clear()
print(marks)

{'banana': 5, 'mango': 15}
{'banana': 5}
100
{'telugu': 98, 'social': 'nullra'}
{'math': 100, 'telugu': 98}
{}

In [ ]:
#dictionary methods
person={"name":"venky","age":100,"status":"active"}
print(person)
print(person.get("name"))
print(person.get("report"))
print(person.get("id","ledhu ra"))
print(person.keys())
print(person.values())
print(person.items())
person["name"]="lakku"
person.update({"sinle":"no"})
print(person)
person.clear()
print(person)
s={"me":"mee","money":"mine"}
s_n=s.copy()
print(s_n)

{'name': 'venky', 'age': 100, 'status': 'active'}
venky
None
ledhu ra
dict_keys(['name', 'age', 'status'])
dict_values(['venky', 100, 'active'])
dict_items([('name', 'venky'), ('age', 100), ('status', 'active')])
{'name': 'lakku', 'age': 100, 'status': 'active', 'sinle': 'no'}
{}
{'me': 'mee', 'money': 'mine'}